* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
.comment-form {
  padding: 0 1rem;
}

.comment-count {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .form {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .form {
    padding: 2.25rem 0;
    margin: 0 20rem;
  }
}
.form__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-top: 27px;
  background-image: url(/assets/images/Mohan-muruge.jpg);
  background-size: cover;
  flex: 0 0 auto;
}
@media (min-width: 768px) {
  .form__icon {
    width: 48px;
    height: 48px;
  }
}
.form__fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
}
.form__input {
  padding: 0.75rem;
  min-height: 2.25rem;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}
@media (min-width: 768px) {
  .form__input {
    min-height: 3rem;
    padding: 1rem;
    margin-bottom: 2.25rem;
    font-family: "AvenirNext";
    font-style: normal;
    font-weight: 400;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.form textarea,
.form input {
  background-color: #FAFAFA;
}
.form textarea:active,
.form input:active {
  border: 1px solid #323232;
  background-color: #FFFFFF;
}
.form__button {
  height: 2.5rem;
  background-color: #0095FF;
  background-image: url(../../assets/images/icons/add_comment.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: none;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #AFAFAF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form__button {
    width: 30%;
    align-self: flex-end;
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: #AFAFAF;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #FFFFFF;
  }
}
.form__button:hover {
  background-color: #000000;
}

label {
  padding-bottom: 4px;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #AFAFAF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  label {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: #AFAFAF;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #AFAFAF;
  }
}/*# sourceMappingURL=CommentForm.css.map */