@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
.active-video-details {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .active-video-details {
    padding: 1.5rem 2rem 1rem 2rem;
  }
}
@media (min-width: 1280px) {
  .active-video-details {
    padding: 2rem 0 1rem 0rem;
  }
}
.active-video-details__title {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .active-video-details__title {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: #323232;
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
}
.active-video-details__description {
  padding-top: 1rem;
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .active-video-details__description {
    font-family: "AvenirNext";
    font-style: normal;
    font-weight: 400;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .active-video-details__description {
    padding-right: 1.5rem;
  }
}

.stats {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .stats {
    align-items: center;
    border-top: none;
  }
}
@media (min-width: 1280px) {
  .stats {
    padding-right: 1.5rem;
  }
}
.stats__left {
  width: 50%;
}
@media (min-width: 768px) {
  .stats__left {
    display: flex;
    align-items: center;
  }
}
.stats__channel {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .stats__channel {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 0 2rem 0 0;
  }
}
.stats__date {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .stats__date {
    font-family: "AvenirNext";
    font-style: normal;
    font-weight: 400;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #AFAFAF;
  }
}
.stats__right {
  width: 50%;
}
@media (min-width: 768px) {
  .stats__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.stats__views {
  display: flex;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .stats__views {
    padding: 0 2rem 0 0;
  }
}
.stats__views--icon {
  padding-right: 1rem;
}
.stats__views--count {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .stats__views--count {
    font-family: "AvenirNext";
    font-style: normal;
    font-weight: 400;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #AFAFAF;
  }
}
.stats__likes {
  display: flex;
}
.stats__likes--icon {
  padding-right: 1rem;
}
.stats__likes--count {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .stats__likes--count {
    font-family: "AvenirNext";
    font-style: normal;
    font-weight: 400;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #AFAFAF;
  }
}/*# sourceMappingURL=VideoDetails.css.map */